<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpHandlers>
      <clear />
      <add path="*" verb="*" type="VAR.Focus.Web.GlobalRouter" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="GlobalRouter" path="*" verb="*" type="VAR.Focus.Web.GlobalRouter" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>