<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpModules>
      <add name="GlobalModule" type="VAR.Focus.Web.GlobalModule" />
    </httpModules>
    <httpHandlers>
      <clear />
      <add path="*" verb="*" type="VAR.Focus.Web.GlobalRouter" />
    </httpHandlers>
    <pages clientIDMode="AutoID" enableViewState="false" enableSessionState="false" enableViewStateMac="false" />
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="GlobalModule" type="VAR.Focus.Web.GlobalModule" />
    </modules>
    <handlers>
      <clear />
      <add name="GlobalRouter" path="*" verb="*" type="VAR.Focus.Web.GlobalRouter" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>