.divBoard {
    position: relative;
    height: 100%;
    background-image: url(../Images/BGCork.png);
    box-shadow: 0 0 10px black inset;
    overflow: auto;
}

.divToolbox {
    position: absolute;
    background-color: rgb(127,127,255);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 200px;
    padding: 5px;
    border-radius: 2px;
}

    .divToolbox .divTitle {
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        display: block;
        height: 20px;
        line-height: 20px;
        background-color: rgb(0,0,128);
        color: rgb(128,128,255);
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .divToolbox .divOverlay {
        opacity: 0;
        background-color: rgb(127,127,255);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 30px;
        -ms-touch-action: none;
        touch-action: none;
    }

    .divToolbox .btnToolbox {
        margin-top: 5px;
        margin-right: 5px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 -2px 4px rgba(0,0,0,0.4) inset, 0 2px 3px rgba(255,255,255,1) inset;
        color: rgb(0,0,128);
        background-color: transparent;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        cursor: pointer;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }

        .divToolbox .btnToolbox:hover {
            color: rgb(127,127,255);
            background-color: rgb(0,0,128);
        }

        .divToolbox .btnToolbox:active {
            box-shadow: 0 2px 4px rgba(0,0,0,0.4) inset, 0 -2px 3px rgba(255,255,255,1) inset;
        }

.divCard {
    position: absolute;
    background-color: rgb(255,255,127);
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 2px;
    overflow: auto;
}

    .divCard .divTitle {
        padding-bottom: 5px;
        padding-right: 44px;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        height: 17px;
        box-sizing: content-box;
    }

    .divCard .txtTitle {
        width: 100%;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        background-color: transparent;
        border: none;
        font-weight: bold;
        text-align: center;
    }

    .divCard .divBody {
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        height: calc(100% - 17px);
    }

    .divCard .txtBody {
        height: 100%;
        width: 100%;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        background-color: transparent;
        border: none;
        resize: none;
    }

    .divCard .divOverlay {
        opacity: 0;
        background-color: rgb(255,255,0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -ms-touch-action: none;
        touch-action: none;
    }

    .divCard .divResize {
        opacity: 0;
        background-color: rgb(255,0,255);
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 0;
        right: 0;
        -ms-touch-action: none;
        touch-action: none;
        cursor: se-resize;
    }

    .divCard .btnCard {
        margin-top: 5px;
        margin-right: 5px;
        padding: 2px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 -2px 4px rgba(0,0,0,0.4) inset, 0 2px 3px rgba(255,255,255,1) inset;
        color: black;
        background-color: transparent;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        cursor: pointer;
    }

        .divCard .btnCard:hover {
            color: yellow;
            background-color: black;
        }

        .divCard .btnCard:active {
            box-shadow: 0 2px 4px rgba(0,0,0,0.4) inset, 0 -2px 3px rgba(255,255,255,1) inset;
        }

    .divCard .btnEdit {
        margin: 0;
        top: 4px;
        position: absolute;
        width: 16px;
        right: 24px;
    }

    .divCard .btnDelete {
        margin: 0;
        top: 4px;
        position: absolute;
        width: 16px;
        right: 4px;
    }

.divRegion {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
    border: dashed 5px rgba(255, 255, 255, 0.5);
    overflow: auto;
}

    .divRegion .divTitle {
        padding-bottom: 5px;
        padding-right: 44px;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        height: 17px;
        box-sizing: content-box;
    }

    .divRegion .txtTitle {
        width: 100%;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        border: none;
        font-weight: bold;
        text-align: center;
    }

    .divRegion .divOverlay {
        opacity: 0;
        background-color: rgb(255,255,0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -ms-touch-action: none;
        touch-action: none;
    }

    .divRegion .divResize {
        opacity: 0;
        background-color: rgb(255,0,255);
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 0;
        right: 0;
        -ms-touch-action: none;
        touch-action: none;
        cursor: se-resize;
    }

    .divRegion .btnRegion {
        margin-top: 5px;
        margin-right: 5px;
        padding: 2px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 -2px 4px rgba(0,0,0,0.4) inset, 0 2px 3px rgba(255,255,255,1) inset;
        color: black;
        background-color: transparent;
        font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
        font-size: 12px;
        cursor: pointer;
    }

        .divRegion .btnRegion:hover {
            color: yellow;
            background-color: black;
        }

        .divRegion .btnRegion:active {
            box-shadow: 0 2px 4px rgba(0,0,0,0.4) inset, 0 -2px 3px rgba(255,255,255,1) inset;
        }

    .divRegion .btnEdit {
        margin: 0;
        top: 4px;
        position: absolute;
        width: 16px;
        right: 24px;
    }

    .divRegion .btnDelete {
        margin: 0;
        top: 4px;
        position: absolute;
        width: 16px;
        right: 4px;
    }

.divEditBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
