.divBoard{
    position:relative;
    height:100%;
}
.divToolbox{
    position: absolute;
    background-color: rgb(127,127,255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 150px;
    min-height: 50px;
    padding: 5px;
    border-radius: 2px;
}

.divToolbox .divTitle{
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: block;
    height: 20px;
    line-height: 20px;
    background-color: rgb(0,0,128);
    color: rgb(128,128,255);
    border-radius: 3px;
    margin-bottom: 5px;
}

.divToolbox .divOverlay{
    opacity: 0;
    background-color: rgb(127,127,255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height:30px;
    -ms-touch-action: none;
    touch-action: none;
}

.divToolbox .btnToolbox{
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px;
    border:solid 1px rgb(0,0,128);
    border-radius: 3px;
    color: rgb(0,0,128);
    background-color: transparent;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
}
.divToolbox .btnToolbox:hover{
    color: rgb(127,127,255);
    background-color: rgb(0,0,128);
}


.divCard{
    position: absolute;
    background-color: rgb(255,255,0);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 150px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    padding: 5px;
    border-radius: 2px;
    overflow: auto;
}

.divCard .divTitle{
    padding-bottom: 5px;
    padding-right: 44px;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.divCard .divBody{
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
}

.divCard .divOverlay{
    opacity: 0;
    background-color: rgb(255,255,0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -ms-touch-action: none;
    touch-action: none;
}

.divCard .btnCard{
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px;
    border:solid 1px black;
    border-radius: 3px;
    color: black;
    background-color: transparent;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
}
.divCard .btnCard:hover{
    color: yellow;
    background-color: black;
}
.divCard .btnEdit{
    margin:0;
    top: 4px;
    position:absolute;
    width:16px;
    right: 24px;
}
.divCard .btnDelete {
    margin:0;
    top: 4px;
    position:absolute;
    width:16px;
    right: 4px
}

.divCard .txtTitle {
    width:100%;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
    background-color: transparent;
    border:solid 1px black;
    padding: 2px;
}
.divCard .txtBody {
    min-height: 150px;
    width:100%;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    font-size: 12px;
    background-color: transparent;
    border:solid 1px black;
    padding: 2px;
}
